#window{
    border: 1px solid black;
    width: 350px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: wheat;
    left: 250px;
}
#windowWrapper{
    width: 100vw;
    height: 100vh;
    position: relative;
    visibility: hidden;
    background-color: aqua;
}
.closeBtnBlock{
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
#content{
    width: 200px;
    word-wrap: break-word;
}
#move{
    background-color: red;
    width: 100%;
    position: absolute;
    height: 50px;
    top: 0px;
    z-index: 0;
}