td{
    height: 50px;
    width: 50px;
    border: 1px solid black;
}
input{
    display: inline-block;
}
div{
    margin-bottom: 15px;
}
input{
    margin: 5px;
}
select{
    margin-left: 55px;
}
section{
    border: 1px solid black;
    width: 250px;
    padding: 5px;
    border-radius: 10px;
}