li{
    list-style-type: none;
    width: fit-content;
    height: 10px;
    width: 150px;
}
ul{
    width: fit-content;
    border-left: 2px solid orange;
    border-radius: 5px;
    padding: 11px 0px 11px 11px;
    margin: 5px;
    background-color: rgb(236, 230, 230);
}
ul:hover{
    border-color: red;
}
div{
    width: 250px;
    line-height: 1px;
}



